/* TAILWIND VALUES: 
MISCELLANEOUS
    - Panel/Tiles
        - border: rounded-3xl
    - Textboxes
        - Corner: rounded-lg
        - Border: border-one (1px)
        - Border Color: border-gray-400
        - Transparency: bg-transparent
        - Remove Outline: focus:outline-none
    - Buttons
        - Border: rounded-3xl
        - hover:bg-emerald-700
*/
.bgGreen {
    background-color: #03352c;
}

.tlGreen {
    background-color: #072822;
}

.tlBgGreen {
    background-color: #03352c;
}

@media (min-width: 640px) {
    .tlBgGreen {
        background-color: #072822;
    }
}

/* for buttons in tlGreen */
.btGreen {
    background-color: #1a664d;
    color: white;
    transition: transform 50ms ease-in-out;
}

.btGreen:hover {
    background-color: #2a765d;
}

.btGreen:active {
    transform: scale(0.97);
}

/* for buttons on bgGreen */
.btGreen2 {
    background-color: #0a563d;
    color: white;
    transition: transform 50ms ease-in-out;
}

.btGreen2:hover {
    background-color: #1a664d;
}

.btGreen2:active {
    transform: scale(0.97);
}

.btActive {
    background-color: #d1d5db;
    color: #374151;
}

.textGray {
    /* same as text-gray-300 (DEFAULT TEXT COL)*/
    color: #d1d5db;
}

.textTeal {
    /* same as text-teal-300 (FOR HYPERLINKS) */
    color: #5eead4;
}
